
.App {
display: flex;
flex-direction: row;
text-align: center;
}

.App-header {

width: 100%;
padding: 70%;
background-color: chocolate;
display: inline-block;
flex-direction: column;
align-items: center;
font-size: calc(10px + 2vmin);
color: aliceblue;
}

.Todo-input {

border: none;
font-size: 16px;
}

.Todo-button {

background: white;
padding: 10px;

}

.Container-item {


display: flex;
margin: 10px;
padding: 20px;
border-radius: 14px;
background: white;
}

.Field-item {

font-size: 18px;
}

.Array-preview {

width: 1000%;
padding: 20px;
display: flex;
background-color: silver;
color: black;
text-align: start;
}










